<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding_">This is the menu content.</ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button class="button_menu"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="content_dados">
    <div class="div_chamado">
      <ion-text color="tertiary"><h3>Dados do chamado</h3> </ion-text>
    </div>

    <div class="img_div">
      <ion-img
        class="img_chamado"
        src="../../assets/peca.jpg"
        alt="Imagem de uma peça para montagem"
      ></ion-img>
    </div>
    <br />

    <ion-item>
      <ion-input
        [(ngModel)]="chamado.descricao"
        placeholder="Descrição"
        inputmode="text"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        shape="round"
        [value]="chamado.descricao"
      ></ion-input>
    </ion-item>

    <br />

    <ion-item>
      <ion-select
        [(ngModel)]="chamado.prioridade"
        label="Prioridade"
        placeholder="Nível Prioridade"
      >
        <ion-select-option value="Baixa">Baixa</ion-select-option>
        <ion-select-option value="Média">Média</ion-select-option>
        <ion-select-option value="Alta">Alta</ion-select-option>
      </ion-select>
    </ion-item>

    <br />

    <ion-text class="text_loc">Localização</ion-text>
    <div class="div_loc">
      <ion-item>
        <ion-input
          [(ngModel)]="chamado.latitude"
          placeholder="Latitude"
          clearInput
          type="number"
          shape="round"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          [(ngModel)]="chamado.longitude"
          placeholder="Longitude"
          clearInput
          type="number"
          shape="round"
        ></ion-input>
      </ion-item>
    </div>
    <br />

    <ion-item>
      <ion-select [(ngModel)]="chamado.status" label="Status do chamado">
        <ion-select-option value="Baixa">Pendente</ion-select-option>
        <ion-select-option value="Média">Resolvido</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button
      (click)="updateCall(chamado.id, chamado)"
      shape="round"
      class="button_addchamado"
      expand="block"
      color="secondary"
      >Atualizar chamado</ion-button
    >
  </ion-content>
</div>
