<ion-toolbar color="primary">
  <ion-icon
    name="arrow-back-outline"
    style="height: 30px; width: 30px; margin-left: 10px"
    [routerLink]="['/home']"
  ></ion-icon>
</ion-toolbar>

<section class="banner">
  <div class="container_header">
    <div class="banner-text">
      <h1>Trevo</h1>
      <p>
        A Trevo é uma empresa dedicada a projetar, fabricar e fornecer máquinas
        agrícolas de alta qualidade, impulsionando a eficiência e a
        produtividade no campo.
      </p>
    </div>
  </div>
  <img
    class="banner-image"
    src="../../assets/capa_saibamais.png"
    alt="imagem de uma maquina"
  />
</section>

<div class="container">
  <div class="mb-30 col-md-6 col-lg-4">
    <div class="card">
      <img
        class="card-icon"
        src="https://image.ibb.co/cFV8mR/monitoring.png"
        alt="monitoring"
      />
      <h3 class="card-title">Inovação Tecnológica</h3>
      <p class="card-text">
        A inovação está no cerne da Trevo. Investimos significativamente em
        pesquisa e desenvolvimento para incorporar as mais recentes tecnologias
        em nossas máquinas.
      </p>
      <a class="card-link" href="#">Ler mais</a>
    </div>
  </div>
  <div class="mb-30 col-md-6 col-lg-4">
    <div class="mb-30 col-md-6 col-lg-4"></div>
  </div>
</div>
