<ion-header class="ion-header">
  <ion-img
    class="img_logo"
    src="../../assets/logos/logobranco.svg"
    alt="Imagem com a logo da empresa que é um trevo de três folha de cor branca"
  ></ion-img>
  <ion-text>Bem-Vindo ao aplicativo da Trevo</ion-text>
</ion-header>

<ion-content color="primary" [fullscreen]="true" class="inputs-container">
  <div class="div_input">
    <ion-item class="roundedInput">
      <ion-input [(ngModel)]="userLogin.email" type="email" placeholder="E-mail"
        ><div slot="label"></div
      ></ion-input>
    </ion-item>

    <br />

    <ion-item class="roundedInput">
      <ion-input
        [(ngModel)]="userLogin.password"
        type="password"
        placeholder="senha"
        ><div slot="label"></div
      ></ion-input>
    </ion-item>

    <ion-title><span id="forgotten">Esqueceu a senha?</span></ion-title>
  </div>

  <ion-button shape="round" class="button" fill="outline" (click)="login()"
    >Entrar</ion-button
  >
  <ion-title [routerLink]="['/cadastro']" style="text-decoration: underline"
    >Não tem cadastro? Registre-se</ion-title
  >
</ion-content>
