.button_menu {
  color: var(--ion-color-primary-contrast);
}

.div_button {
  width: 100%; /* Define a largura para 140px */
  height: 140px;
  background-color: var(--ion-color-primary); /* Define a cor de fundo como a cor primária */
  padding: 10px; /* Adiciona um espaçamento interno para melhor visualização */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 30px 30px;
}

.card {
  width: 320px;
  height: 110px;
}

.icons {
  justify-content: flex-end;
  align-items: baseline;
}

.icons ion-icon {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.footer {
  border-radius: 16px 16px 0 0;
  height: 70px;
}

.saiba_mais {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}
